.item-status-filter {
  margin-bottom: 4px;
  height: 30px;
}

.item-status-filter-button {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.item-status-filter-button:hover{
  background-color: teal;
}

.item-status-filter-button:checked {
  background-color: red;
}